.Calendar{
  border: 10px solid black;
}

.shedules-list{
  td {
    justify-content: center;
    padding: 4px 12px;
    border: 1px solid black;
  }

  img {
    height: 50px;
    width: 50px;
    object-fit: cover;
  }
}

.hours {
  background-color: black;
  color: white;
}